project:
  type: website
  output-dir: docs

website:
  site-url: "https://samridhi-singh-research.github.io/blog"
  title: "My First Blog"
  description: "I use this space to reflect on my academic experiences, research interests, and professional development."
  navbar:
    left:
      - text: "Home"
        file: index.qmd
      - text: "About"
        file: about.qmd
        


